
@{
    ViewBag.Title = "Nominadas";
}

    <h1>La pelicula Nominada es El guardador de los recuerdos/h1>
    <h1>La pelicula Nominada es El gran David</h1>
    <h1>La pelicula Nominada es Invencible</h1>


