
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-10">
        <h2>Nuevo Producto</h2>
    </div>
    <br />
    <div class="col-md-2">
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>
<hr />
<br />



